@import './index.scss';

.landing {
  height: 100vh;
  background-image: linear-gradient(to right bottom, var(--background-grad-dk), var(--background-grad-dk)), url(./images/landing-sm.jpeg);
  background-size: cover;
  background-position: top;

  .landing-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin:auto;
    width:max-content;
  }

  .landing-logo-box {
    height: 15vmin;
    margin-bottom: 8vmin;
    display: inline-block;
    text-align: center;
  }

  .landing-logo {
    height: 15vmin;
    margin-bottom: 8vmin;
  }

  .landing-primary {
    color: var(--color-primary-wt);
    font-size: 10vmin;
    font-family: var(--serif-font);
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -2vmin;
  }

  .landing-secondary {
    color: var(--color-primary-wt);
    font-size: 5vmin;
    font-family: var(--sans-serif-font);
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10vmin;
    text-align: center;
  }

  .landing-tagline {
    font-family: var(--serif-font);
    color: var(--color-primary-wt);
    font-size: 3vmin;
    font-style: italic;
    letter-spacing: 0.25vmin;
  }

}

