.merch-bank-row {
 height:inherit;
 border: 0;
}
.merch-bank-title {
 text-align: center;
 height: 30%;
 overflow-y: auto;
}
.merch-bank-left {
  height: 70%;
  overflow-y: auto;
}

.merch-bank-left-div {
  min-height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.merch-bank-right {
  height: 70%;
  overflow-y: auto;
}
.merch-bank-right-div {
  height: 70%;
  margin: 40px 10px 0 0;

}
.merch-bank-right-row {
  height: 100%;
}

.section-merch-bank {
  text-align: center;
  width: 90vw;
  height: 90vh;
}

.merch-bank-left-text {
  font-size: 2.5rem;
}

.image-containers {
  position: absolute;
  height: 30%;
  width: 30%;
  background-color: white;
  cursor: pointer;
}

.image1 {
  top: 22.5%;
  left: 35%;
}

.image2 {
  top: 47.5%;
  left: 12.5%;
}

.image3 {
  top: 47.5%;
  left: 57.5%;
}

.image {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  transition: all .2sec;
  outline-offset: 1.5rem;
  z-index: 10;
}

.image:hover {
  outline: 1.5rem solid #1B2C59;
  transform: scale(1.1);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.private-cap-circle {
  border-radius: 50%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}