.news {
  min-height: 100vh;
  display:block;
  overflow: auto;
  background-image: linear-gradient(to right bottom,var(--background-grad-dk), var(--background-grad-dk)), url(./images/coins.png);
  background-size: cover;
  background-position: top;
       min-height: 100vh;
       padding-bottom: 24px;
}

.news-section {
  text-align: center;
  display:block;
  overflow: auto;
}
.news main {
  display:block;
  overflow: auto;
  margin-bottom: 16px;
}

.news-header {
  /* margin-top: -5rem; */
  height: 10vh;
  text-align: center;
  color:var(--white-text)
}
.news-content {
  margin: 2rem 15rem;
  min-height: 80vh;
  display:block;
  overflow: auto;
  background: var(--white-text);
}
.news-card {
  position: absolute;
  height: 80%;
  border: black solid 1pt;
}

.news-img {
  height: 150px;
  object-fit: contain;
}

.news-title {
  position: absolute;
  display: block;
  height: 15%;
}

.card, .border-none {
  border: none;
}
.news-li {
  margin-left: 3rem;
  margin-right: 3rem;
  font-size: 2.25rem;
  color: var(--heading-medium);
}
a {
  text-decoration: none !important;
  color: var(--heading-medium);
}
a:hover {
  background-color: var(--heading-dark);
  color: var(--white-text)
}