.section-firm {
  height: 100vh;
  text-align: center;
  padding: 1.5rem;
  overflow: scroll;
}

.our-firm-tiles {
  margin: 2rem 0 0 0;
  height: 50vh;
  cursor: pointer;
  overflow: scroll;
  border: none;
}

.our-firm-tiles-card {
  height: 50vh;
}

.our-firm-tiles-img {
 width: 75%;
 height: auto;
}