.investors {
  display:block;
  overflow: auto;
  min-height: 100vh;
  padding-bottom: 24px;
}
.investors-section {
  text-align: center;
  display:block;
  overflow: auto;
}
.investors-main {
  display:block;
  overflow: auto;
  margin-bottom: 16px;
}
.investors-header {
  height: 10vh;
  text-align: center;
}
.investors-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-gap: 10px;
  margin: 10rem 40rem;
  background-image: linear-gradient(to right bottom,var(--landing), var(--landing)), url(./images/coins.png);
  box-shadow: 7px 7px 7px var(--background-grad-dk);
  border: var(--background-grad-dk) solid 1px;
}

.mm-logo {
  text-align: center;
 }
.mm-logo-box {
  height: var(--logo);
}
.investors-input-box {
  background-color: var(--white-text);
  height: 100%;
}
.investor-form-heading, .investor-form-become {
  color: var(--background-grad-dk);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: -2rem;
}
.investor-form-heading {
font-size: 2.5rem;
}
.investor-form-become {
  font-size: 2.25rem;
}
.investor-form-box {
  margin: 3rem 8rem;
  font-size: 1.75rem;
  color: var(--background-grad-dk);
}
.btn-primary {
  background-color: var(--heading-medium);
  font-size: 1.5rem;
}
.btn-primary:hover {
  background-color: var(--heading-light);
  color: var(--heading-dark);
}