.team {
  height: 100vh;
  background-image: linear-gradient(to right bottom,var(--background-grad-dk), var(--background-grad-dk)), url(./images/coins.png);
  background-size: cover;
  background-position: top;
}

.team-section {
  text-align: center;
  height: 100vh;
}
.team main {
  height: 100vh;
  margin-bottom: 16px;
}

.team-header {
  margin: 2rem 0;
  height: 10vh;
  /* overflow-y: auto; */
  text-align: center;
}

.team-card-div {
  margin: 0 10rem;
  height: 80vh;
  overflow-y: scroll;
  background: rgba(255, 255, 255, 0.4)
}

/* .team-card {
  height: 30vh;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  background-color: white;
  cursor: pointer;
}
.team-card-left {
  margin-right: 4px;
  display: table;
  width: 100%;
}

.team-card-right {
  margin-left: 4px;
  display: table;
  width: 100%;
  vertical-align:middle;
}

.team-card-image {
  height: auto;
  width: 30vh;
  vertical-align: middle;
  display: table-cell;
  background-color: teal;
  cursor: pointer;
}

.team-card-text {
  height: inherit;
  vertical-align:middle;
  display: table-cell;
  background-color:thistle;
  text-align: center;

} */


.team-card-name {
  font-size: 3rem;
  font-weight: 700;
  display: block;
  color: var(--heading-color);
  margin: 1rem 0;
  text-align: center;
}
.team-card-title {
  font-size: 2rem;
  font-weight: 700;
  display: block;
  color: var(--heading-light);
  margin-bottom: 2rem 0;
  font-family: "Lato", sans-serif;
}

.team-card-text {
  line-height: 1.5;
  text-align: center;
  margin-right: 2rem;
}

.wrapper {
  text-align: center;
}

.card-wrapper {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
  cursor: pointer;
}


