.team {
  /* height: 100vh; */
  display:block;
  overflow: auto;
  background-image: linear-gradient(to right bottom,var(--background-grad-dk), var(--background-grad-dk)), url(./images/coins.png);
  background-size: cover;
  background-position: top;
       min-height: 100vh;
       padding-bottom: 24px;
}

.team-section {
  text-align: center;
  /* height: 100vh; */
  display:block;
  overflow: auto;
}
.team main {
    /* height: 100vh; */
  display:block;
  overflow: auto;
  margin-bottom: 16px;
}

.team-header {
  /* margin: -5rem 10rem 0 0; */
  /* margin-top: -5rem; */
  height: 10vh;
  /* overflow-y: auto; */
  text-align: center;
}

.team-card-div {
  margin: 2rem 15rem;
  /* height: 83vh;
  overflow-y: scroll; */
  display:block;
  overflow: auto;
  background: rgba(255, 255, 255, 0.4);
}
.team-member {
  cursor: pointer;
}

.team-card-name {
  font-size: 3rem;
  font-weight: 700;
  display: block;
  color: var(--heading-color);
  margin: 1rem 0;
  text-align: center;
  cursor: pointer;
}
.team-card-title {
  font-size: 2rem;
  font-weight: 700;
  display: block;
  color: var(--heading-light);
  margin-bottom: 2rem 0;
  font-family: var(--main-font);
  text-transform: uppercase;
  cursor: pointer;
}

.team-card-text {
  line-height: 1.5;
  text-align: center;
  margin-right: 2rem;
  cursor: pointer;
}

.team-card-icon {
  line-height: 1.5;
  text-align: center;
  margin-right: 2rem;
  color: var(--heading-light);
  font-size: 3rem;
}

.wrapper {
  text-align: center;
}

.card-profile {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
  /* cursor: pointer; */
  border:0;
}
p.team-modal {
  font-size: 2.25rem;
  text-align: justify;
  margin-bottom: 2rem;
  color: var(--heading-color)
}

.modal-90w {
  top: 3%;
  min-height: 90vh;
  height: 90vh;
  min-width: 90vw;
  box-shadow: 7px 7px 7px var(--background-grad-dk);
  border: var(--background-grad-dk) solid 1px;
  overflow: auto;
}
.modal-content {
  min-height: 90vh;
  min-width: 90vw;
  box-shadow: 7px 7px 7px var(--background-grad-dk);
  border: var(--background-grad-dk) solid 1px;
}

/* .modal-dialog {
  min-width: 85vw;
  min-height: 85vh;
  box-shadow: 7px 7px 7px var(--background-grad-dk);
  border: var(--background-grad-dk) solid 1px;
} */