.txn {
  min-height: 100vh;
  background-image: linear-gradient(to right bottom,var(--background-grad-dk), var(--background-grad-dk)), url(./images/transactions-background.png);
  background-size: cover;
  background-position: top;
}

.txn-section {
  text-align: center;
  display:block;
  overflow: auto;
}
.txn main {
  display:block;
  overflow: auto;
  margin-bottom: 16px;
}

.txn-header {
  /* margin-top: -5rem; */
  height: 10vh;
  text-align: center;
}

.txn-card-div {
  margin: 2rem 14rem;
  display:block;
  overflow: auto;
}

.txn-card {
  width: 32rem;
  height: 32rem;
  position:relative;
}

.txn-division {
  display:block;
  position:absolute;
  /* top: 0px;
  left: 25%; */
  text-transform: uppercase;
  text-align: center;
}
.txn-nologo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  line-height: 1;
  width: 100%;
  color: var(--heading-light);
}
.txn-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
        -webkit-box-shadow: 7px 7px 9px -4px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 7px 7px 9px -4px rgba(0, 0, 0, 0.8);
    box-shadow: 7px 7px 9px -4px rgba(0, 0, 0, 0.8);
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 7px 7px 9px -4px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 7px 7px 9px -4px rgba(0, 0, 0, 0.8);
    box-shadow: 7px 7px 9px -4px rgba(0, 0, 0, 0.8);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    height: 32rem;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  margin-top: 12px;
  font-size: 2.5rem;
  line-height: 2;
  width: 100%;
  color: var(--heading-light);
}

.frontside .card .card-body img {
    width: 95%;
    height: auto;
}